* {                                         
    box-sizing: border-box;
    margin: 0;
    padding: 0;       
    font-family: "retro";
    background-color: rgb(68, 68, 68);
}

@font-face {
    font-family: "retro";
    src: url("font/PressStart2P-Regular.ttf");
}

/*Index page stuff*/
.indexGif{
    width: 150px;    
}

.CenterMe{
    text-align: center;
    align-items: center;
}

.indexHeader,h1,h6{
    font-size: 20px;
    color: white;
}

.indexList{
    text-align: center;
    align-items: center;
    margin-top: 80px;
    text-decoration: none;
}
.indexListLi{
    text-align: center;
    align-items: center;
    margin-top: 80px;
    text-decoration: none;
}
.indexListA{
    text-align: center;
    align-items: center;
    margin-top: 80px;
    text-decoration: none;
}
a {
    box-shadow: inset 0 0 0 0 white;
    color: white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
  }
  a:hover {
    box-shadow: inset 300px 0 0 0 white;
    color: black;
  }
  
  .indexFooter{
    text-align: center;
    align-items: center;
    margin-top: 80px;
    text-decoration: none;
    margin-bottom: 50px;
  }

/*Interets and hobbies*/


  .CenterMeIH{
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 40px;

}
.CenterMeIH h1{
    text-decoration: underline;
}
.CenterMeIH p{
    padding-top: 10px;
}

.canvasBox{
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.generateButton{
    border: none;
    color: white;
    box-shadow: inset 0 0 0 0 white;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin-top: 20px;
    height: 20px;
    width: auto;
}
.generateButton:hover{
    box-shadow: inset 300px 0 0 0 white;
    color: black;
}
.buttonWrapper{
    align-items: center;
    text-align: center;
}

/*Version Log*/
.WrapperVL{
    margin-top: 80px;
    text-align: center;
    align-items: center;
    border: solid black 4px;
    border-radius: 3%;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.itemVL{
    margin-top: 15px;
    list-style: none;
}

/*Expirience*/
.expirenceWrapper{
    border: 4px solid black;
    border-radius: 3%;
    text-align: center;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 20px;
}

/*WorkAt*/
.workatWrapper{
    text-align: center;
    margin-top: 20px;
}

.switchLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dupeMusic{
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 400px;
    height: 470px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 3%;
    border: none;
}